DRY_RUN=true
USE_MOCK_DATA=true
ENABLE_LLM_BRANCH=false
ENABLE_OPENAI=false
ENABLE_CLAUDE=false
ENABLE_PAID_DATA=false
ENABLE_ALPACA=false
ALPACA_ENV=paper
ALPACA_API_KEY_ID=
ALPACA_API_SECRET_KEY=
ALPACA_PAPER_BASE_URL=https://paper-api.alpaca.markets
ALPACA_LIVE_BASE_URL=https://api.alpaca.markets
ALPACA_DATA_BASE_URL=https://data.alpaca.markets
ALPACA_DATA_FEED=iex
