__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
*.egg-info/
.env
data/raw/*
!data/raw/.gitkeep
data/interim/*
!data/interim/.gitkeep
data/processed/*
!data/processed/.gitkeep
data/external/*
!data/external/.gitkeep
!data/external/current_portfolio_template.csv
